:root {
  --branding-color: #d82dc7;
  --heading-font-family: "playfair display", serif;
  --default-font-fammily: "poppins", sans-serif;
  --secodary-color: #ffdff8;
}
body{
  background: linear-gradient(88.8deg, rgb(239, 171, 245) 13.4%, rgb(196, 181, 249) 76.3%);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}
.hero p {
  font-family: var(--default-font-fammily);
  font-weight: normal;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--default-font-fammily);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero {
  background-color: var(--secodary-color);
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;
  transition: all ease-in-out 200ms;

}
.btn-branding:hover{
      color: var(--branding-color);
      background-color: white;
      border: 1px solid var(--branding-color);
    }

h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;
  
}
.btn-branding-outline:hover{
      color: white;
      background-color: var(--branding-color);
    }
.project-descrition{
  padding: 120px 60px;
}
@media(max-width:900px) {
  .project-descrition{
    padding: 0;
    text-align: center;
  }
  h1{
    font-size: 44px;
    line-height: 2;
  }
  h2{
    font-size: 42px;
  }
  .hero{
    padding: 70px 20px;
  }
}
@media (max-width:900px) {
  .content-contianer{
 text-align: center;
  padding: 0;
  }
  
}
.conten-contianer{
  padding: 160px 20px;

}
.content h1{
  font-size: 60px;
  line-height: 70px;

}
.content h2{
  font-size: 18px;
  font-family: var(--default-font-fammily);
}
.content h3{
  font-size: 24px;
  font-family: var(--default-font-fammily);
  line-height: 1;
  margin-top: 20px 0 0;
  
}
.content p{
  font-size: 14px;
}
.content{ 
 margin: 30px;
 text-align: center;
}
h4{
  border: 1px solid var(--branding-color);
  padding: 15px;
  font-family: var(--heading-font-family);
}
h5{
  font-size: 48px;
}
nav {
    padding: 20px 0;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav a:hover, nav li.active a {
    color: var(--branding-color);
}
nav a {
    text-decoration: none;
    color: #272142;}

    footer{
      margin: 60px 0 ;
    }
    .contact-box{
      background-color: var(--secodary-color);
      padding: 30px;
      border-radius: 10px;
    }
    .contact-box p{
margin: 0;
    }

    .email-link{
      text-decoration: none;
      text-align: center;
      font-size: 24px;
      color: #000;
    }
    .email-link:hover{
      color:var(--branding-color)
    }
    .social-link a{
      margin: 0 20px;
      color: var(--branding-color);
      background-color: var(--secodary-color);
      padding: 10px 14px;
      font-size: 18px;
      border-radius: 30px;
      

    }
    .social-link{
      color: var(--branding-color);
      font-size: 18px;
    }
    
    .social-link a:hover{
      color: white;
      background-color: var(--branding-color);
    }
    social-link:hover{
      color: white;
      background-color: var(--branding-color);
    }
