:root {
  --branding-color: #6c63ff;
  --heading-font-family: "playfair display", serif;
  --default-font-fammily: "poppins", sans-serif;
  --secodary-color: #e9dfff;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}
.hero p {
  font-family: var(--default-font-fammily);
  font-weight: normal;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--default-font-fammily);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero {
  background-color: var(--secodary-color);
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;

}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  line-height: 27px;
  
}
.project-descrition{
  padding: 120px 60px;
}
@media(max-width:900px) {
  .project-descrition{
    padding: 0;
    text-align: center;
  }
  h1{
    font-size: 44px;
    line-height: 2;
  }
  h2{
    font-size: 42px;
  }
  .hero{
    padding: 70px 20px;
  }
}
@media (max-width:900px) {
  .about-section{
 text-align: center;
  padding: 0;
  }
  
}
.about-section{
  padding: 160px 20px;

}
.about-section h1{
  font-size: 60px;
  line-height: 70px;

}
.about-section h2{
  font-size: 18px;
  font-family: var(--default-font-fammily);
}
.about-section-content{ 
 margin: 30px;
}
